<ion-header>
  <ion-toolbar>
    <ion-title>EPI-USE Document Workflow</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card name="login" *ngIf="phase2">
    <ion-card-title>Reset Password</ion-card-title>
    <ion-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="reset()">
        <ion-item >
          <ion-label position="floating">Account Email</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary" [disabled]="!resetForm.valid" type="submit">
          Send the email</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!phase2">
    <ion-card-header>
      Please look at your email
    </ion-card-header>
    <ion-card-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-label position="floating">Please add your Confirmation string for your email</ion-label>
        <ion-input formControlName="confirmationString"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Your new Password</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm your new Password</ion-label>
        <ion-input formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary" [disabled]="!resetPasswordForm.valid" (click)="emailSent()" type="submit">
        Reset password</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>
