<ion-header>
  <ion-toolbar>
    <ion-title>EPI-USE Document Workflow</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Register</ion-label>
    <ion-toggle (click)="changeOver()"></ion-toggle>
  </ion-item>


  <ion-card name="login" *ngIf="!registerButton">
    <ion-card-title>Login</ion-card-title>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="stacked">Your email Address:</ion-label>
          <ion-input inputmode="email" formControlName="loginEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Your password:</ion-label>
          <ion-input type="password" formControlName="loginPassword"></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary" [disabled]="!loginForm.valid" type="submit">Login</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card name="register" *ngIf="registerButton">
    <ion-card-title>Register</ion-card-title>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-item>
          <ion-label position="stacked">First name:</ion-label>
          <ion-input inputmode="text" formControlName="Fname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Last name:</ion-label>
          <ion-input inputmode="text" formControlName="Lname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Initials:</ion-label>
          <ion-input inputmode="text" formControlName="initials"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input inputmode="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Add your signature</ion-label>
          <ion-button expand="full">
            <input type="file" (change)="loadSignature($event)" id="file-input"
              accept="image/jpeg, image/png, image/jpg">
          </ion-button>
        </ion-item>
        <ion-button expand="block" color="primary" [disabled]="!registerForm.valid" type="submit">Register</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
