<ion-content>
  <div class="logo"></div>


<ion-content [fullscreen]="true">
  <ion-card name="login">
    <ion-card-title>Login</ion-card-title>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="stacked">Your email Address:</ion-label>
          <ion-input inputmode="email" formControlName="loginEmail" placeholder="u17015741@tuks.co.za"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Your password:</ion-label>
          <ion-input type="password" formControlName="loginPassword" placeholder="....."></ion-input>
        </ion-item>
        <div text-center>
          Reset <a routerLink='/password-reset'>
          password</a>
        </div>
        <ion-button expand="block" color="primary" [disabled]="!loginForm.valid" type="submit">Login</ion-button>
      </form>
      <ion-row>
        <div text-center>
          If you don't have an account, please <a routerLink='/register'>
          register</a> first!
        </div>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
