ion-slides {
  height: 100%;
  justify-content: center;
}

ion-item{
  width:100%;
}

ion-card{
  justify-content: center;
  align-items: center;
  margin:auto;
  width:90%;
  margin-top: 10px;
}

pdf-viewer {
  display: block;
  height: 30vh;
}

// ion-input{
//   border-color: black;
//   border-style: solid;
// }
