<ion-split-pane contentId="main">

  <ion-menu contentId="main">
    <ion-header>
        <ion-grid>
          <ion-row>
          <ion-col sizeSm="6" sizeXs="6" sizeMd="3">
            <ion-img src="../../../assets/LogoWhiteBackground.png"
            ></ion-img>
          </ion-col>
          <ion-col sizeSm="6">
            <ion-title style="text-align: left; line-height: normal; padding-top: 2%; font-size: 35px;">{{title}}</ion-title>
          </ion-col>
        </ion-row>
        </ion-grid>
    </ion-header>
    <ion-content>
      here
    </ion-content>
  </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>
