<ion-header>
  <ion-toolbar>
    <ion-title>viewDocumentModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <pdf-viewer
      [src]= "srcFile"
      [render-text]="true"
      [rotation]="rotated"
      [original-size]="false"
      [autoresize]="true"
      style="display: block;"
    >
    </pdf-viewer>

    <ion-fab  vertical="bottom" horizontal="left">
      <ion-fab-button>
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="left">
      <ion-fab-button>
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="construct-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="eye-off-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
