<ion-header>
  <ion-toolbar>
    <ion-title>WorkFlow name will go here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="10"><h1 name="workflowName"> Document Workflow Name </h1></ion-col>
        <ion-col size="2">
          <ion-fab vertical="middle" horizontal="left">
            <ion-fab-button>
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="bottom">
              <ion-fab-button>
                <ion-icon name="construct-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
                <ion-icon name="arrow-redo-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
                <ion-icon name="eye-off-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p name="workflowDescription">This is the document description</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- row for the user that is assigned to do the next action of the workflow -->
        <ion-col size="12">
          <ion-row>
            <ion-col size="5"><img src="../Files/defaultProfileImage.jpg"></ion-col>
            <ion-col size="7">
              <ion-row>
                <ion-col size="12">
                  <h3 name="workFlowAssigned">Brenton Stroberg</h3>
                </ion-col>
                <ion-col size="12">
                  <h4 name="userStatus">Programmer</h4>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <p name="workflowComment">This is the latest comment on this workflow</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="viewDoc()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

