<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" size="large">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-grid style="max-height: 194px;">
      <ion-row>
        <ion-col style="top:50%;" sizeXs='9' sizeMd='4' sizeLg='3' sizeXl='2'>
          <ion-img src="../../../assets/LogoWhiteBackground.png" style="max-height: 100px; max-width: 320px; top:50%;">
          </ion-img>
        </ion-col>
        <ion-col style="top:50%;" *ngIf='!sizeMe'>
          <h1 style="top:50%; font-size:xx-large;">Home</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="width:100%">
  <ion-reorder-group [disabled]="reOrder" (ionItemReorder)="fixOrder($event)" style="width:100%">
    <ion-reorder *ngFor="let document of documents">
      <ion-card>
        <ion-header style="min-height: 80px;">
          <br />
          <ion-card-title style="font-size: 18px; padding-left: 10px;">{{document.name}}</ion-card-title>
          <ion-card-subtitle style="font-size: 12px; padding-left: 10px;">Owner of the workflow: {{document.ownerEmail}}
          </ion-card-subtitle>
          <ion-fab vertical="top" horizontal="end">

            <ion-fab-button>Tim</ion-fab-button>
            <ion-fab-list side="down">
              <ion-fab-button (click)="viewWorkFlow(document._id, document.name)">
                <ion-icon name="arrow-redo-outline" style="font-size: 22px;"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="editDocument(document._id, document.name)">
                <ion-icon name="construct-outline" style="font-size: 22px;"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-header>
        <ion-card-content style="width:100%">
          <ion-item lines="none">
            <p>{{document.description}}</p>
          </ion-item>
          <ion-grid style="width: 100%;">
            <ion-row *ngFor="let phase of document.phases; let i = index">
              <ion-col sizeXs='12'>
                <ion-item style="width: 100%;" lines="none">
                  <div slot="start">
                    <h1>Phases {{i + 1}}</h1>
                  </div>
                  <div slot="end">
                    <ion-icon name="chevron-down-circle-outline" (click)='showPhase(phase)' slot='end'></ion-icon>
                  </div>
                </ion-item>
              </ion-col>
              <ion-col *ngIf='phase.showPhase' lines="none" sizeXs='12'>
                <ion-row *ngFor="let user of phase.users">
                  <ion-col sizeXs='12' sizeMd='8' sizeSm='8' style="text-align: left;">
                    {{user.email}}
                  </ion-col>
                  <ion-col sizeXs='6' sizeSm='2' sizeMd='2' style="text-align: center;">
                    {{user.permission}}
                  </ion-col>
                  <ion-col sizeXs='6' sizeMd='2' sizeSm='2' style="text-align: right;">
                    <ion-icon *ngIf="user.accepted" name="checkmark-circle-outline"></ion-icon>
                    <ion-icon *ngIf="!user.accepted" name="close-circle-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-progress-bar [value]="document.currentPercent+0.01" buffer="0"></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </ion-reorder>
  </ion-reorder-group>
  <!-- <ion-reorder-group [disabled]="reOrder" (ionItemReorder)="fixOrder($event)" style="width:100%">
    <div *ngFor="let doc of documents">
      <ion-reorder style="width:100%">
        <ion-card style="width:95%; justify-content: center;margin:auto">
          <ion-card-header>
            <ion-card-title>{{doc.name}}</ion-card-title>
            <ion-card-subtitle>Owner of workflow: {{doc.ownerEmail}}
            </ion-card-subtitle>
            <ion-fab vertical="top" horizontal="end">
              <ion-fab-button>
                <ion-icon name="arrow-down-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="bottom">
                <ion-fab-button (click)="editWorkflow(doc._id)">
                  <ion-icon name="construct-outline"></ion-icon>
                </ion-fab-button>

                <ion-fab-button *ngIf="doc.ownerEmail === userEmail">
                  <ion-icon name="trash" (click)="deleteWorkFlow(doc._id)"></ion-icon>
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </ion-card-header>
          <ion-card-content>
            <br>
            <ion-item>
              <ion-list>
                <ion-title>Description:</ion-title>
                <ion-item>
                  {{doc.description}}
                </ion-item>
              </ion-list>
            </ion-item>
            <ion-item>
              <ion-list>
                <ion-grid>
                  <ion-title>Phases</ion-title>
                  <ion-row>
                    <div *ngFor="let phase of doc.phases; let i = index">
                      <ion-col sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="12">
                        <h2>
                          Phase {{i+1}}
                        </h2>
                        <ion-item>
                          {{phase}}
                        </ion-item>
                      </ion-col>
                    </div>
                  </ion-row>
                </ion-grid>
              </ion-list>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-reorder>
      <br>
    </div>

  </ion-reorder-group> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addWorkflow()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="testUpdatePhase()">
      Test P
    </ion-fab-button>
  </ion-fab>



  <!-- <ion-fab>
    <ion-fab-button>
      test
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="showOnlyWorkflowOwned()" style='color:white'>1</ion-fab-button>
      <ion-fab-button (click)="sortByNeededActions()" style='color:white'>2</ion-fab-button>
      <ion-fab-button (click)="getByName('testiie boi')" style='color:white'>3</ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>

<!-- <ion-item>
  <ion-grid style="width:95%">
    <ion-row *ngFor="let phase of document.phases;  let i = index" style="width:95%">
      <ion-card style="width:95%">
        <ion-card-header>
          <ion-item lines="none" style="width:100%">
            <div slot="start">
              <ion-card-title>Phase {{i+1}}</ion-card-title>
              <ion-card-subtitle>{{phase.description}}</ion-card-subtitle>
            </div>
            <div slot="end">
              <ion-icon name="chevron-down-circle-outline" (click)='showPhase(phase)' slot='end'></ion-icon>
            </div>
          </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf='phase.showPhase'>
          <ion-grid>
            <ion-row *ngFor="let user of phase.users">
              <ion-col sizeXs="12">
                <ion-item detail="false" lines="none" style="width: 100%;">
                  <div slot='start'>
                    {{user.email}} {{user.permission}}
                  </div>
                  <div slot='end'>
                    <ion-icon *ngIf="user.accepted" name="checkmark-circle-outline" style="width: 100%;">
                    </ion-icon>
                    <ion-icon *ngIf="!user.accepted" name="close-circle-outline"></ion-icon>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-item> -->
