<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" size="large">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-grid style="max-height: 194px;">
      <ion-row>
        <ion-col style="top:50%;" sizeXs='9' sizeMd='4' sizeLg='3' sizeXl='2'>
          <ion-img src="../../../assets/LogoWhiteBackground.png" style="max-height: 100px; max-width: 320px; top:50%;"
            [routerLink]="['/home']">
          </ion-img>
        </ion-col>
        <ion-col style="top:50%;" *ngIf='!sizeMe'>
          <h1 style="top:50%; font-size:xx-large;">Home</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content style="width:100%">
  <form [formGroup]="sortForm">
    <ion-item>
      <ion-label>Sort by: </ion-label>
      <ion-select (ionChange)='sortBy()' formControlName='sortBy'>
        <ion-select-option value="1">Show all owned workflows</ion-select-option>
        <ion-select-option value="2">Actions needed</ion-select-option>
        <ion-select-option value="3">Show all workflows</ion-select-option>
        <ion-select-option value="4">Reorder the workflows</ion-select-option>
        <ion-select-option value="5">Show all non-owned workflows</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!reOrder">
      <ion-button (click)="reOrderWorkflows()" style="width: 99%;">Done with reorder?</ion-button>
    </ion-item>
  </form>

  <ion-reorder-group [disabled]="reOrder" (ionItemReorder)="fixOrder($event)" style="width:100%">
    <div *ngFor="let document of documents; let p = index">
      <ion-reorder *ngIf="document.showWorkflow">
        <ion-card>
          <ion-header style="min-height: 80px;">
            <br />
            <ion-grid>
              <ion-row>
                <ion-col sizeXs="9" sizeMd="9">
                  <ion-card-title style="font-size: 20px; padding-left: 10px;" name="workflowName">{{document.name}}
                  </ion-card-title>
                  <ion-card-subtitle style="font-size: 12px; padding-left: 10px;" name="workflowOwner">Owner of the
                    workflow:
                    {{document.ownerEmail}}
                  </ion-card-subtitle>
                </ion-col>
                <ion-col sizeXs="3" sizeMd="3">
                </ion-col>
                <ion-fab vertical="top" horizontal="end" style="font-size: 25px;">
                  <ion-fab-button>
                    <ion-icon name="apps-outline"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-list side="down">
                    <ion-fab-button (click)="viewWorkFlow(document._id, document.name, document.status)"
                      *ngIf='documentPermission[p] === 2'>
                      <span title="View">
                        <ion-icon name="arrow-redo-outline" style="font-size: 22px; color:white"></ion-icon>
                      </span>
                    </ion-fab-button>
                    <ion-fab-button (click)="editDocument(document._id, document.name)"
                      *ngIf='documentPermission[p] === 1'>
                      <span title="Sign">
                        <ion-icon name="pencil-outline" style="font-size: 22px;color:white"></ion-icon>
                      </span>
                    </ion-fab-button>
                    <ion-fab-button (click)="editWorkflow(document._id)"
                      *ngIf="document.ownerEmail === userEmail && document.status !=='Completed'">
                      <span title="Edit">
                        <ion-icon name="construct-outline" style="font-size: 22px;color:white"></ion-icon>
                      </span>
                    </ion-fab-button>
                    <ion-fab-button (click)="deleteWorkFlow(document._id)" *ngIf="document.ownerEmail === userEmail">
                      <span title="Delete">
                        <ion-icon name="trash-outline" style="font-size: 22px;color:white"></ion-icon>
                      </span>
                    </ion-fab-button>
                    <ion-fab-button (click)="revertPhase(document._id)" *ngIf="document.ownerEmail === userEmail">
                      <span title="Revert">
                        <ion-icon name="git-pull-request-outline" style="font-size: 22px;color:white"></ion-icon>
                      </span>
                    </ion-fab-button>
                    <ion-fab-button (click)="viewHistory(document._id)" *ngIf="document.ownerEmail === userEmail">
                      <span title="History">
                        <ion-icon name="alarm-outline" style="font-size: 22px;color:white"></ion-icon>
                      </span>
                    </ion-fab-button>
                    <ion-fab-button (click)="verifier(document._id)">
                      <span title="Verifier">
                        <ion-icon name="checkmark-done-circle-outline" style="font-size: 22px;color:white"></ion-icon>
                      </span>
                    </ion-fab-button>
                  </ion-fab-list>
                </ion-fab>
              </ion-row>
            </ion-grid>
          </ion-header>
          <ion-card-content style="width:100%">
            <ion-item lines="none" name="workflowDescription">
              <ion-label position="stacked">Document description</ion-label>
              <p>{{document.description}}</p>
            </ion-item>
            <ion-item lines="none">
              <p>Current Phase {{document.currentPhase+1}}</p>
            </ion-item>
            <ion-grid style="width: 100%;">
              <ion-row *ngFor="let phase of document.phases; let i = index">
                <ion-col sizeXs='12'>
                  <ion-row>
                    <ion-col sizeXs='9'>
                      <h1 *ngIf="i !== document.currentPhase">Phase {{i + 1}} <ion-icon
                          *ngIf="i < document.currentPhase" name="checkmark-circle-outline" style="color: #4C9A2A">
                        </ion-icon>
                      </h1>
                      <h1 style="color:#4C9A2A" *ngIf="i === document.currentPhase">Phase {{i + 1}}</h1>
                      <p>{{phase.description}}</p>
                    </ion-col>
                    <ion-col sizeXs='3'>
                      <ion-icon name="chevron-down-circle-outline" (click)='showPhase(phase)' *ngIf='!phase.showPhase'>
                      </ion-icon>
                      <ion-icon name="chevron-up-circle-outline" (click)='showPhase(phase)' *ngIf='phase.showPhase'>
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col *ngIf='phase.showPhase' lines="none" sizeXs='12'>
                  <ion-row *ngFor="let user of phase.users">
                    <ion-col sizeXs='12' sizeMd='7' sizeSm='7' style="text-align: left;">
                      <ion-item lines="none">
                        <ion-label position="stacked" style="width: 100%;">User email:</ion-label>
                        {{user.user}}
                      </ion-item>
                    </ion-col>
                    <ion-col sizeXs='7' sizeSm='3' sizeMd='3' style="text-align: center;">
                      <ion-item lines="none" style="width: 100%;">
                        <ion-label position="stacked" style="width: 100%;">Permission:</ion-label>
                        {{user.permission}}
                      </ion-item>
                    </ion-col>
                    <ion-col sizeXs='5' sizeMd='2' sizeSm='2' style="text-align: right;">
                      <ion-item lines="none">
                        <ion-label position="stacked">Done:</ion-label>
                        <!--- TODO: swap over to boolean acceptance values -->
                        <ion-icon *ngIf='user.accepted === "true"' name="checkmark-circle-outline"
                          style="color: #4C9A2A"></ion-icon>
                        <ion-icon *ngIf='user.accepted === "false"' name="close-circle-outline" style="color: #aa021e">
                        </ion-icon>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-progress-bar title="Progress Bar" [value]="document.currentPercent+0.01" buffer="0"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-reorder>
    </div>
  </ion-reorder-group>
</ion-content>
