$color1: #EDC7B7;
$color2: #EEE2DC;
$color3: #BAB2B5;
$color4: #AA021E;
$color5: #002060;




// ion-item,ion-grid{
//   --background: #EEE2DC;
// }
ion-row{
  --width: 100%;
  width:100%;
}

ion-card{
  min-height: 420px;
}

img{
  width:auto;
}
ion-content{
  --background: var($color2);
}

ion-icon {
  font-size: 36px;
}

ion-fab-button{
  ion-icon{
    pointer-events :none;
  }

}
