<ion-header>
  <ion-toolbar>
    <ion-title>EPI-USE Document Workflow</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card name="login">
    <ion-card-title>Reset Password</ion-card-title>
    <ion-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="reset()">
        <ion-item>
          <div class="form-group">
            <label for="resetPasswordEmail">Account Email</label>
            <ion-input type="email" class="form-control" id="resetPasswordEmail" placeholder="Enter email"></ion-input>
          </div>

        </ion-item>

        <ion-button expand="block" color="primary" [disabled]="!resetForm.valid" type="submit">Reset</ion-button>
      </form>
