<ion-item color="primary">
  <ion-label position="stacked" *ngIf="!registerButton">Register</ion-label>
  <ion-label position="stacked" *ngIf="registerButton">Login</ion-label>
  <ion-toggle (ionChange)="changeOver($event)" [checked]="registerButton"></ion-toggle>
  <ion-title align="center">EPI-USE DOCUMENT WORKFLOW</ion-title>
</ion-item>
<ion-content class="background">
  <div class="logo"></div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="loginF">
          <ion-card id="loginCard" *ngIf="!registerButton">
            <ion-card-header id="log" color="primary">Login</ion-card-header>
            <ion-card-content>
              <form id="form" [formGroup]="loginForm" (ngSubmit)="login()">
                <ion-label position="stacked">Email Address:</ion-label>
                <ion-input inputmode="email" formControlName="loginEmail" placeholder="tim@jargon.com" name="loginEmail"></ion-input>
                <ion-label position="stacked">Password:</ion-label>
                <ion-input type="password" formControlName="loginPassword" placeholder="**************" name="loginPassword"></ion-input>
                <div text-center>
                  Reset <a (click)="displayResetPassword()">
                    password</a>
                </div>
                <ion-button padding expand="block" color="primary" fill="outline" [disabled]="!loginForm.valid"
                  type="submit">Login</ion-button>


              </form>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
          <ion-card name="register" *ngIf="registerButton">
            <ion-card-header color="primary">Register</ion-card-header>
            <ion-card-content>
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <ion-item>
                  <ion-label position="stacked">First name:</ion-label>
                  <ion-input inputmode="text" formControlName="Fname" placeholder="Tim" name="Fname"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Last name:</ion-label>
                  <ion-input inputmode="text" formControlName="Lname" placeholder="Maron" name="Lname"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Initials:</ion-label>
                  <ion-input inputmode="text" formControlName="initials" placeholder="M T" name="initials"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Email:</ion-label>
                  <ion-input inputmode="email" formControlName="email" placeholder="tim@jargon.com" name="email"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Phone number:</ion-label>
                  <ion-input inputmode="number" formControlName="phone_number" placeholder="0723456789" name="phone_number"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Password</ion-label>
                  <ion-input type="password" formControlName="password" placeholder="**********" name="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Confirm password</ion-label>
                  <ion-input type="password" formControlName="confirmPassword" placeholder="**********" name="confirmPassword"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked">Add your signature</ion-label>
                  <ion-button hidden="true">
                    <!-- dont edit, its not an error believe it or not -->
                    <input type="file" #fileInput (change)="uploadFile($event)" hidden="true" accept="image/*">
                  </ion-button>
                  <ion-button (click)="selectImageSource()">Add</ion-button>
                </ion-item>
                <ion-button expand="block" color="primary" fill="outline" [disabled]="!registerForm.valid" (click)="loadingRegister()"
                  type="submit">Register</ion-button>

<!--                Register with existing Account Google -->
                <span>
                    <ion-button type="button" expand="block" color="secondary">
                      <ion-icon name="logo-google" slot="start"></ion-icon>
                      Sign in with Google
                    </ion-button></span>
               </form>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
