<ion-header>
  <ion-toolbar>
    <ion-title>edit-document-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="docForm" (ngSubmit)="editDocument()">
    <ion-item>
      <ion-label position="stacked">Name of Document</ion-label>
      <ion-input FormControlName="docName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description of Document</ion-label>
      <ion-input formControlName="documentDescription" inputmode="text" placeholder="Description of doc here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Status of Document</ion-label>
      <ion-input formControlName="documentStatus"  inputmode="text" placeholder="Status of doc here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Type of Document</ion-label>
      <ion-input formControlName="documentType" placeholder="Type of doc here"></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary" [disabled]="!docForm.valid" type="submit">Add button</ion-button>
  </form>

  <ion-item>
    <ion-button (click)="selectDoc()">Select Doc</ion-button>
  </ion-item>
</ion-content>
