<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" size="large">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-grid style="max-height: 194px;">
      <ion-row>
        <ion-col style="top:50%;" sizeXs='9' sizeMd='4' sizeLg='3' sizeXl='2'>
          <ion-img src="../../../assets/LogoWhiteBackground.png" style="max-height: 100px; max-width: 320px; top:50%;">
          </ion-img>
        </ion-col>
        <ion-col style="top:50%;" *ngIf='!sizeMe'>
          <h1 style="top:50%; font-size:xx-large;">Edit Workflow</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content style="height:100%">
  <form [formGroup]="workflowForm" style="height:100%" (ngSubmit)="submit()">
    <ion-card style="height: 100%;">
      <ion-card-header>
        <ion-input formControlName="workflowName"></ion-input>
        <ion-input formControlName="workflowDescription"> </ion-input>
        <ion-fab>
          <ion-fab-button (click)="debug(workflowForm.controls.phases['controls'])">debug</ion-fab-button>
        </ion-fab>
      </ion-card-header>
      <ion-content>
        <ion-card>
          <ion-card-content>
            <ion-card *ngFor="let phase of workflowForm.controls.phases['controls']; let i = index">
              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col sizeXs='10'>
                      <ion-title>Phase {{i+1}}</ion-title>
                    </ion-col>
                    <ion-col sizeXs='2'>
                      <a (click)='viewPhase(i)' *ngIf="!phaseViewers[i]">Show Phase</a>
                      <a (click)='viewPhase(i)' *ngIf="phaseViewers[i]">Hide Phase</a>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content *ngIf='phaseViewers[i]'>
                <ion-grid *ngFor="let user of  phase.controls['users'].controls; let j = index">
                  <ion-row>
                    <ion-col sizeXs="12" sizeMd="2">
                      Add User:
                    </ion-col>
                    <ion-col sizeXs='10' sizeMd="8">
                      <ion-input type="email" [formControl]="user.controls.user"></ion-input>
                    </ion-col>
                    <ion-col sizeXs='2' sizeMd="2">
                      <ion-icon name="close-circle-outline" size="large"
                        (click)="removeUser(phase.controls['users'],i, j)">
                      </ion-icon>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-radio-group style="width: 100%" [formControl]="user.controls.permission">
                      <ion-row>
                        <ion-col sizeXs="6">
                          <ion-item (click)="changePermission(user.controls.permission, 'view')">
                            <ion-label>View only </ion-label>
                            <ion-radio value="view" slot="end"></ion-radio>
                          </ion-item>
                        </ion-col>
                        <ion-col sizeXs="6">
                          <ion-item (click)="changePermission(user.controls.permission, 'sign')">
                            <ion-label>Signer</ion-label>
                            <ion-radio value="sign" slot="end"></ion-radio>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-radio-group>
                  </ion-row>
                </ion-grid>
                <ion-item style="width:100%">
                <ion-button style="width:100%" expand="block" color="primary" fill="outline" (click)="includeActionArea(i,phase.controls.annotation)">
                Add Action Area
              </ion-button>
              </ion-item>
                <ion-item style="width:100%">
                  <ion-button style="width:100%" expand="block" color="primary" fill="outline" (click)="addUser(phase.controls['users'])">
                    Add User
                  </ion-button>
                </ion-item>
                <ion-item style="width:100%">
                  <ion-button style="width:100%" expand="block" color="primary" fill="outline" (click)="removePhase(i)">
                    Remove phase
                  </ion-button>
                </ion-item>
              </ion-card-content>
            </ion-card>
            <ion-item style="width:100%">
              <ion-button style="width:100%" expand="block" color="primary" fill="outline" (click)="addPhase()">Add
                Phase
              </ion-button>
            </ion-item>
            <ion-item style="width:100%">
              <ion-button style="width:100%" expand="block" color="primary" fill="outline"
                [disabled]="!workflowForm.valid" type="submit">
                Update workflow</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-card>
  </form>


</ion-content>
