<!-- <ion-header>
  <ion-toolbar>
    <ion-title>WorkFlow name will go here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- one for each individual document
  <h1>Documents</h1>
  <div>
    <ion-item style="width:100%">
      <ion-card style="width:95%; justify-content: center;margin:auto">
        <ion-card-header>
          <ion-card-title>Timeline.pdf</ion-card-title>
          <ion-card-subtitle>The describtion of the timeline</ion-card-subtitle>
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button ><ion-icon name="accessibility-outline"></ion-icon></ion-fab-button>
            <ion-fab-list side="bottom">
              <ion-fab-button (click)="viewDoc()"> View</ion-fab-button>
              <ion-fab-button>Sign</ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-card-header>
        <ion-card-content>
          <h3>Comments</h3>
          <ion-list>
            <ion-item>this is comment 1, this is comment 1, this is comment 1, this is comment 1, this is comment 1, this is comment 1, this is comment 1,
            </ion-item>
            <ion-item>this is comment 2</ion-item>
            <ion-item>this is comment 3</ion-item>
            <ion-item>
              <ion-button>Add comment</ion-button>
              <!-- addd modal page for this
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button (click)="back()">
      <ion-label>Back</ion-label>
      <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-tab-button>
  </ion-tab-bar>
</ion-footer> -->

<ion-grid style="width:90%">
  <form>
    <!--ng for loop-->
    <ion-card >
      <ion-card-content>
        <ion-item>
          <ion-row style="width:100%">
            <ion-col size-sm="4" sizeXs="12" sizeMd="4">
              Add user:
            </ion-col>
            <ion-col size-sm="6" sizeXs="10" sizeMd="6">
              <ion-input type="text"></ion-input>
            </ion-col>
            <ion-col size-sm="2" sizeXs="2" sizeMd="2">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
          <ion-label>Privileges: </ion-label>
          <ion-select>
            <ion-select-option>
              <ion-label>Admin </ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-select-option>
            <ion-select-option>
              <ion-label>Signer </ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-select-option>
            <ion-select-option>
              <ion-label>Viewer </ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>
</ion-grid>
