<ion-header>
  <ion-toolbar>
    <ion-title>WorkFlow name will go here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- one for each individual document -->
  <h1>Documents</h1>
  <div>
    <ion-item style="width:100%">
      <ion-card style="width:95%; justify-content: center;margin:auto">
        <ion-card-header>
          <ion-card-title>Timeline.pdf</ion-card-title>
          <ion-card-subtitle>The describtion of the timeline</ion-card-subtitle>
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button ><ion-icon name="accessibility-outline"></ion-icon></ion-fab-button>
            <ion-fab-list side="bottom">
              <ion-fab-button (click)="viewDoc()"> View</ion-fab-button>
              <ion-fab-button>Sign</ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-card-header>
        <ion-card-content>
          <h3>Comments</h3>
          <ion-list>
            <ion-item>this is comment 1, this is comment 1, this is comment 1, this is comment 1, this is comment 1, this is comment 1, this is comment 1,
            </ion-item>
            <ion-item>this is comment 2</ion-item>
            <ion-item>this is comment 3</ion-item>
            <ion-item>
              <ion-button>Add comment</ion-button>
              <!-- addd modal page for this -->
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-tab-bar>
    <ion-tab-button (click)="back()">
      <ion-label>Back</ion-label>
      <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
