<ion-header>
  <ion-toolbar>
    <ion-title>EPI-USE Document Workflow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title>User Registration</ion-card-title>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-item>
          <ion-label position="stacked">First name:</ion-label>
          <ion-input inputmode="text" formControlName="Fname" placeholder="Brenton"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Last name:</ion-label>
          <ion-input inputmode="text" formControlName="Lname" placeholder="Stroberg"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Initials:</ion-label>
          <ion-input inputmode="text" formControlName="initials" placeholder="BP"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input inputmode="text" formControlName="email" placeholder="BPStroberg@jargon.co.za"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone number:</ion-label>
          <ion-input inputmode="tel" formControlName="phone_number" placeholder="081 234 5678">

          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input inputmode="text" formControlName="password" placeholder="***********"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm password</ion-label>
          <ion-input inputmode="text" formControlName="confirmPassword" placeholder="***********"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Choose image</ion-label>
          <ion-button expand="full">
            <input type="file" (change)="loadSignature($event)" id="file-input"
                   accept="image/jpeg, image/png, image/jpg">
          </ion-button>
        </ion-item>
        <ion-button expand="block" color="primary" [disabled]="!registerForm.valid" type="submit">Register</ion-button>
      </form>
</ion-content>
