<ion-header>
  <ion-toolbar>
    <ion-title>addDocumentModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="documentForm" (ngSubmit)="addDocument()">
    <ion-item>
      <ion-label position="stacked">Name of Document</ion-label>
      <ion-input FormControlName="documentName"></ion-input>
      <ion-input FormControlName="Fname" inputmode="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description of Document</ion-label>
      <ion-input formControlName="documentDescription" inputmode="text" placeholder="Description of doc here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Status of Document</ion-label>
      <ion-input formControlName="documentStatus"  inputmode="text" placeholder="Status of doc here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Type of Document</ion-label>
      <ion-input formControlName="documentType" placeholder="Type of doc here"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Choose doc</ion-label>
      <ion-button expand="full">
        <input type="file" (change)="loadDocument($event)" id="file-input"
          accept="application/pdf">
      </ion-button>
    </ion-item>
    <ion-button expand="block" color="primary" [disabled]="!documentForm.valid" type="submit">Add button</ion-button>
  </form>
</ion-content>
