<ion-toolbar>
  <div class="logo">
    Document Workflow
  </div>
 </ion-toolbar>

 <ion-content>
   <ion-grid>
     <ion-row>

     </ion-row>
     <ion-row>
       <ion-text>
         <h1 class="firstText">A solution for all your digital document signing needs</h1>
       </ion-text>
     </ion-row>

     <ion-row class="buttonRow">
       <ion-button  fill="solid" color="">Get Started
         <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
       </ion-button>
     </ion-row>

     <ion-row class="conceptRow">
       <ion-col size-xs="12" size-sm="12" size-md="4" >
         <ion-card  style="height:100%">
           <ion-card-header>
             <ion-icon size="large" name="create"></ion-icon>
           </ion-card-header>
           <ion-card-title>Create</ion-card-title>
           <ion-card-content>
             Create a workflow process for each document that needs signing,
             specify how it needs to be signed, and then upload the document.
           </ion-card-content>
         </ion-card>
       </ion-col>
       <ion-col size-xs="12" size-sm="12" size-md="4" >
         <ion-card  style="height:100%">
           <ion-card-header>
             <ion-icon size="large" name="person-add"></ion-icon>
           </ion-card-header>
           <ion-card-title>Add</ion-card-title>
           <ion-card-content>
             Add other users as participants to a workflow and assign them to different phases,
             so that they can sign the document.
           </ion-card-content>
         </ion-card>
       </ion-col>
       <ion-col size-xs="12" size-sm="12" size-md="4" >
         <ion-card style="height:100%">
           <ion-card-header>
             <ion-icon size="large" name="checkmark-circle"></ion-icon>
           </ion-card-header>
           <ion-card-title>Approve</ion-card-title>
           <ion-card-content>
             Approve or reject a document after it has been signed.
           </ion-card-content>
         </ion-card>
       </ion-col>
     </ion-row>
   </ion-grid>


 </ion-content>
