<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" size="large">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid style="max-height: 194px;">
      <ion-row>
        <ion-col style="top:50%;" sizeXs='9' sizeMd='4' sizeLg='3' sizeXl='2'>
          <ion-img src="../../../assets/LogoWhiteBackground.png" style="max-height: 100px; max-width: 320px; top:50%;">
          </ion-img>
        </ion-col>
        <ion-col style="top:50%;" *ngIf='!sizeMe'>
          <h1 style="top:50%; font-size:xx-large;">Template</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf='!readyForPhase2'>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let template of tempDesc"
                 style="border: 5px solid #002060; border-radius: 25px; padding: 10px; margin: 10px">
          <ion-col sizeXs='12'>
            <ion-item lines="none">
              <ion-label position="stacked">
                Template Name:
              </ion-label>
              <ion-text>{{template.templateName}}</ion-text>
            </ion-item>
          </ion-col>
          <ion-col sizeXs='12' sizeMd='8'>
            <ion-item lines="none">
              <ion-label position="stacked">Description</ion-label>
              <ion-text>{{template.templateDescription}}</ion-text>
            </ion-item>
          </ion-col>
          <ion-col sizeMd='4' sizeXs='12' sizeSm="12">
            <ion-button (click)="useThisTemplate(template.templateID)" style="width: 100%;">Use this template</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- end of the first phase -->
  <form *ngIf="readyForPhase2" [formGroup]="templateForm" (ngSubmit)="submit()">
    <ion-card *ngIf="phase2">
      <ion-card-header style="width: 100%;">
        <ion-text>Workflow creation</ion-text>
        <ion-fab vertical="top" horizontal="end">
          <ion-fab-button (click)="nextPhase()">Next</ion-fab-button>
        </ion-fab>

      </ion-card-header>
      <ion-item>
        <ion-label position="floating">Workflow name</ion-label>
        <ion-input formControlName="workflowName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Workflow Description</ion-label>
        <ion-textarea formControlName="workflowDescription"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-button style="width: 100%;" (click)="displayWebViewer()">View Document</ion-button>
      </ion-item>

      <style>
        .webviewer{
          width: 100%;
          height:60vh;
        }
      </style>
      <div id="webViewerContainer" class = "content" role="main">
        <div id="webViewer" #viewer class="webviewer" ></div>
        <div ></div>
      </div>



    </ion-card>
    <ion-card *ngIf="!phase2">
      <ion-card-header style="width: 100%;">
        <ion-grid>
          <ion-row>
            <ion-col offset="3">
              <ion-text>Workflow creation</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-fab vertical="top" horizontal="start">
          <ion-fab-button (click)="nextPhase()">Back</ion-fab-button>
        </ion-fab>

      </ion-card-header>
      <ion-grid>
        <div *ngFor="let phase of templateForm.controls.phases['controls']; let i = index">
          <ion-row
            style="margin: 5px; padding:5px; border-width: 4px; border-style: solid; border-radius: 15px; border-color:#002060">

            <ion-col sizeXs="12">
              <ion-row>
                <ion-col sizeXs='10'>
                  <ion-text style="font-size: 20px;">Phase {{i + 1}}</ion-text>
                </ion-col>
                <ion-col sizeXs='2'>
                  <ion-icon name="eye-outline" (click)='viewPhase(i)' *ngIf="!phaseViewers[i]"
                            style="font-size: 30px;text-align: center;"></ion-icon>
                  <ion-icon name="eye-off-outline" (click)='viewPhase(i)' *ngIf="phaseViewers[i]"
                            style="font-size: 30px;text-align:center"></ion-icon>
                </ion-col>
                <ion-col sizeXs='12'>
                  <ion-item lines='none'
                            style="--border-color: #002060; --border-style:solid; --border-width:2px; --border-radius:15px">
                    <ion-label position="stacked">Description</ion-label>
                    <ion-textarea [formControl]="phase.controls.description"></ion-textarea>
                  </ion-item>
                </ion-col>
                <ion-col sizeXs='12'>
                  <ion-button style="width: 100%;" (click)="removePhase(i, phase)">Delete Phase</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col sizeXs="12" *ngIf='phaseViewers[i]'>
              <ion-text style="font-size: 18px;">Users:</ion-text>
              <ion-row *ngFor="let user of  phase.controls['users'].controls; let j = index">
                <ion-col sizeXs='9'>
                  <ion-item>
                    <ion-label position="stacked">User email:</ion-label>
                    <!-- (click)="setPhase(phase.controls.phaseNumber.value)" -->
                    <ion-input type="email" [formControl]="user.controls.user"></ion-input>
                  </ion-item>
                  <ion-select #selectContact [name]="i+' '+j" (ionChange)='friendChosen(user.controls.user, i , j)' style="display: none;">
                    <ion-select-option *ngFor="let contact of contacts" [value]="contact">
                      {{contact}}
                    </ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col sizeXs='1'>
                  <ion-icon name="accessibility-outline" size="large"
                    (click)="addFriend(i, j)">
                  </ion-icon>
                </ion-col>
                <ion-col sizeXs='2'>
                  <ion-icon name="close-circle-outline" size="large" (click)="removeUser(phase.controls['users'],i, j)">
                  </ion-icon>
                </ion-col>
                <ion-col sizeXs='12'>
                  <ion-item>
                    <ion-label>Permission:</ion-label>
                    <ion-select placeholder="{{user.controls.permission.value}}"
                                [formControl]="user.controls.permission">
                      <!-- (click)="setPhase(phase.controls.phaseNumber.value)" -->
                      <ion-select-option value="sign">Signer
                      </ion-select-option>
                      <!-- (click)="setPhase(phase.controls.phaseNumber.value)" -->
                      <ion-select-option value="view">Viewer
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col sizeXs='12' sizeSm='6'>
                  <ion-button style="width: 99%;" (click)="addUser(phase.controls['users'],i)">Add User</ion-button>
                </ion-col>
                <ion-col sizeXs='12' sizeSm='6'>
                  <ion-button style="width: 99%;" (click)="includeActionArea(i,phase.controls.annotations)">Change
                    Action Area</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
        <ion-row>
          <ion-col sizeXs='12' sizeSm='6'>
            <ion-button style="width: 99%;" (click)="addPhase()">Add a new Phase</ion-button>
          </ion-col>
          <ion-col sizeXs='12' sizeSm='6'>
            <ion-button type="submit" style="width: 99%;" [disabled]="!templateForm.valid">Save changes</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>
  </form>
</ion-content>
