<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end" size="large">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid style="max-height: 194px;">
      <ion-row>
        <ion-col style="top:50%;" sizeXs='9' sizeMd='4' sizeLg='3' sizeXl='2'>
          <ion-img src="../../../assets/LogoWhiteBackground.png" style="max-height: 100px; max-width: 320px; top:50%;">
          </ion-img>
        </ion-col>
        <ion-col style="top:50%;" *ngIf='!sizeMe'>
          <h1 style="top:50%; font-size:xx-large;">Templates</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf='!readyForPhase2'>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let template of tempDesc" style="border: 5px solid #002060; border-radius: 25px; padding: 10px; margin: 10px">
          <ion-col sizeXs='12'>
            <ion-item lines="none">
              <ion-label position="stacked">
                Template Name:
              </ion-label>
              <ion-text>{{template.templateName}}</ion-text>
            </ion-item>
          </ion-col>
          <ion-col sizeXs='8'>
            <ion-item lines="none">
              <ion-label position="stacked">Description</ion-label>
              <ion-text>{{template.templateDescription}}</ion-text>
            </ion-item>
          </ion-col>
          <ion-col sizeXs='4'>
            <ion-button (click)="useThisTemplate(template.templateID)">Use this template</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
