<div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card name="register" >
    <ion-card-header color="primary">Register</ion-card-header>
    <ion-card-content>
      <form [formGroup]="updateForm" (ngSubmit)="update()">
        <ion-item>
          <ion-label position="stacked">First name:</ion-label>
          <ion-input inputmode="text" formControlName="Fname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Last name:</ion-label>
          <ion-input inputmode="text" formControlName="Lname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Initials:</ion-label>
          <ion-input inputmode="text" formControlName="initials"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email:</ion-label>
          <ion-input inputmode="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone number:</ion-label>
          <ion-input inputmode="text" formControlName="phone_number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-button expand="block" color="primary" fill="outline" [disabled]="!updateForm.valid"
          type="submit">Register</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</div>
